.containermain {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}


.cover {
    object-fit: cover;
    object-position: 0 -200px;
    width: 100%;
}

.containercover {
    height: 400px;
    width: 100%;
    overflow: hidden;

}

.containerinfo {
    padding: 2em;
    line-height: 10px;
}

.containerinfosmall {
    line-height: 8px;
    font-size: 0.8em;
    color: rgb(134, 134, 134);
}

.avatar {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    bottom: 190px;
    left: 40px;
}

.containerbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*TESTIINFORMAZIONI*/

.name {
    font-size: 1.5em;
    font-weight: 500;
}

.inlineblockp {
    display: inline-block;
}

.bold {
    font-weight: 500;
}

/*TUTTI I BOTTONI*/

.buttonfull {
    border-radius: 20px !important;
    display: inline-block;
    width: 140px;
    height: 30px;
    padding-top: 6px;
    background-color: #016adb;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    display: flex;
    align-items: baseline;
    justify-content: center;
}

.buttonfull:hover {
    background-color: #014691;
}

.buttonfulltext {
    font-weight: 600 !important;
}